img
{
  max-width: 100% !important;
}

#page .container h2
{
  border-bottom: 3px double #cccccc;
  padding-bottom: 5px;
  font-size: 1.4em;
  font-weight: bolder;
}

#page .container h3
{
  border-bottom: 1px solid #cccccc;
  padding-bottom: 5px;
  font-size: 1.2em;
  font-weight: bolder;
}

#page .container table
{
  border: 1px solid #dedede;
  width: 100%;
  border-collapse: collapse;
}

#page .container th,
#page .container td
{
  border: 1px solid #dedede;
  padding: 8px;
}

#page .container th
{
  background-color: #f5f5f5;
}

#page .container .timetable tr > td:first-child
{
  width: 150px;
}

#page ul
{
  list-style-type: disc;
  margin: 1em 0 1em 30px;
}

#page h2
{
  margin-top: 2em;
}

#page h2:first-child
{
  margin-top: 0;
}

.judges{
  display: flex;
  flex-wrap: wrap;
  margin-left: -32px;
  margin-right: -32px;
}

.judges .judge{
  width: 25%;
  padding: 32px;
  box-sizing: border-box;
  word-break: break-word;
}

.judge-image
{
  text-align: center;
}

.judge-image img{
  width: 190px;
  max-width: 100%;
}

.sponsors
{
  width: 1060px;
  max-width: 95%;
  margin: 2em auto;
}

.sponsors .row
{
  padding: 0;
}

.silver-sponsors img {
  max-width: 150px !important;
  margin: 10px;
}

footer .attend
{
  margin: 0 auto 40px auto;
  width: 1060px;
  max-width: 90%;
  color: #555555;
}

footer .attend a
{
  padding: 24px;
  font-size: 24px;
}

.sponsors h2
{
  font-weight: bolder;
  margin-top: 2em;
}

.sponsors .platinum
{
  text-align: center;
}

.sponsors .platinum img
{
  width: 400px;
  max-width: 95%;
}

.vcenter
{
  display: inline-block;
  vertical-align: middle;
  float: none;
}

footer .btn1
{
  white-space: normal;
  color: #fff;
  background-color: #a0522d;
  border-color: #d43f3a;
}

footer .btn2
{
  white-space: normal;
  color: #fff;
  background-color: #4169e1;
  border-color: #d43f3a;
}

footer .btn3
{
  white-space: normal;
  color: #ce2206;
  background-color: #f0fff0;
  border-color: #d43f3a;
}

footer .whoweare p
{
  font-size: 22px !important;
  font-weight: bolder;
}

@media screen and (max-width: 960px) {
  .judges{
    margin-left: 0;
    margin-right: 0;
  }
  .judges .judge{
    width: 50%;
    padding: 16px;
  }
}
