<!-- footer Start -->
<footer>
  <div class="attend">
      <p><a href="{{ site.url }}/img/KaisaiYoukou_NASA%20Space%20Apps%20Challenge%20KUSHIMOTO2023%20.pdf" class="btn btn-danger btn-lg btn-block">Space Apps Challenge Kushimoto 2023 開催要項の表示</a></p>
      <p></p>
  </div>

  <div class="attend">
      <p><a href="https://forms.gle/WUagyvN81ao7Z8hG6" class="btn btn-danger btn-lg btn-block">Space Apps Challenge Kushimoto 2023 参加登録フォーム へ</a></p>
      <p></p>
  </div>

  <div class="attend">
      <p><a href="https://spaceappsjapan.connpass.com/event/295218/" class="btn btn-danger">connpassは こちら</a></p>
      <p></p>
  </div>

  <div class="sponsors">
    <h2>プラチナ</h2>

    <p class="platinum"><a href="https://www.saika.or.jp/"><img src="{{ site.url }}/img/sponsor/logoSaika.png" /></a></p-->
    <p class="platinum"></p>

    <h2>ゴールドスポンサー</h2>

    <div class="row">
      {% for s in site.gold %}
        <div class="col-md-3 col-sm-4 vcenter"><a href="{{s.url}}"><img src="{{ site.url }}/img/sponsor/{{ s.image }}" alt="{{ s.name }}"></a></div>
      {% endfor %}
    </div>

    <h2>シルバースポンサー</h2>

    <div class="row">
      {% for s in site.silver %}
        <div class="col-md-2 col-sm-6 vcenter silver-sponsors"><a href="{{s.url}}"><img src="{{ site.url }}/img/sponsor/{{ s.image }}" alt="{{ s.name }}"></a></div>
      {% endfor %}
    </div>
  </div>

  <div class="container">
    <div class="whoweare">
      <h3>主催</h3>
      <p style="text-align: center;">NASA Space Apps Challenge KUSHIMOTO 実行委員会</p>
      <h3>共催</h3>
      <p style="text-align: center;">和歌山県宇宙教育研究会</p>
      <h3>協賛</h3>
      <div style="text-align: center;">
        <p>一般財団法人雑賀技術研究所、</br>
        株式会社ビジュアル・テクノロジー研究所、</br>
        株式会社組込AI研究所 ほか</p>
      </div>
      <h3>後援</h3>
      <div style="text-align: center;">
        <p>和歌山県、串本町、</br>
        和歌山放送、テレビ和歌山、紀伊民報、熊野新聞</p>
      </div>
      <h3>事務局</h3>
      <p style="text-align: center;">一般財団法人雑賀技術研究所 公益事業推進室</p>
    </div>

    <div class="row" style="margin-top: 3em;">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">ホーム</a></li>
            <li><a href="{{ site.baseurl }}/posts">お知らせ</a></li>
            <li><a href="{{ site.baseurl }}/schedule">開催概要</a></li>
            <li><a href="{{ site.baseurl }}/access">アクセス</a></li>
            <!-- <li><a href="{{ site.baseurl }}/sponsor">スポンサー</a></li> -->
            <li><a href="{{ site.baseurl }}/code-of-conduct">行動規範</a></li>
           <!-- <li><a href="{{ site.baseurl }}/contact">お問い合わせ</a></li> -->
          </ul>
        </div>
        <p>Copyright &copy; Space Apps Challenge Kushimoto 実行委員会</p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://api.geolonia.com/v1/embed?geolonia-api-key=SPACEAPPSKUSHIMOTO"></script>
