<!-- footer Start -->
<footer>
  <div>
    <h2><font color="Red">ライブ配信動画</font></h2>
    <p style="font-size: 20px;" >●配信動画のURL<br>
    オープニング・チームアピール・ゲスト講演<br>
    2025/10/4 10:30～<br>
    <a href="https://www.youtube.com/watch?v=xQHlWzBWDps" rel="nofollow">https://www.youtube.com/watch?v=xQHlWzBWDps</a>  </p>
    <p style="font-size: 20px;" >成果発表・審査・表彰<br>
    2024/10/5 12:30～<br>
    <a href="https://www.youtube.com/watch?v=V7uMUIwIZoY" rel="nofollow">https://www.youtube.com/watch?v=V7uMUIwIZoY</a>  </p>
    <hr>
  </div>

  <div class="attend">
      <p><a href="{{ site.url }}/img/KaisaiYoukou_NASA_Space_Apps_Challenge_KUSHIMOTO2025.pdf" class="btn1 btn-danger btn-lg btn-block">Space Apps Challenge Kushimoto 2025 開催要項の表示</a></p>
      <p></p>
  </div>

  <div class="attend">
        <p>
        <!--
        <a href="https://forms.gle/dBpcLTxgMSmsJY2Q9" class="btn2 btn-danger btn-lg btn-block">
        <span>Space Apps Challenge Kushimoto 2025 参加登録フォーム へ</span>
        <span>NASAのサイトのKushimotoロケーションへの登録は当日行います</span>
        -->
        <a href="javascript:void(0);" class="btn2 btn-danger btn-lg btn-block">
        <span>Space Apps Challenge Kushimoto 2025 参加登録フォームは、ただいま準備中</span>
        </a>
        </p>
      <p></p>
  </div>

  <div class="attend">
      <!--
      <p><a href="https://spaceappsjapan.connpass.com/event/ /" class="btn3 btn-danger btn-lg btn-block">最新の情報は connpass でご確認ください</a></p>
      -->
      <p><a href="javascript:void(0);" class="btn3 btn-danger btn-lg btn-block">connpassは、ただいま準備中</a></p>
      <p></p>
  </div>

  <div class="sponsors">
  <h2>プラチナスポンサー</h2>

  <div class="row">
    <div class="col-md-3 col-sm-4 vcenter">
      <a href="https://www.saika.or.jp/">
        <img class="img-fluid" src="{{ site.url }}/img/sponsor/logoSaika.png" alt="公益財団法人 和歌山県文化振興財団">
      </a>
    </div>
    <div class="col-md-3 col-sm-4 vcenter">
      <a href="https://www.tsuneishi.co.jp/yura/">
        <img class="img-fluid" src="{{ site.url }}/img/sponsor/logoTsuneishiYura.png" alt="ツネイシユラ">
      </a>
    </div>
    <!-- 追加する場合は同じ col を増やす -->
  </div>
          
    <h2>ゴールドスポンサー</h2>

    <div class="row">
      {% for s in site.gold %}
        <div class="col-md-3 col-sm-4 vcenter"><a href="{{s.url}}"><img src="{{ site.url }}/img/sponsor/{{ s.image }}" alt="{{ s.name }}"></a></div>
      {% endfor %}
    </div>

    <h2>シルバースポンサー</h2>
    <p class="silver-sponsors"><a href="https://www.taiyo-tx.com//"><img src="{{ site.url }}/img/sponsor/logoTaiyoTechnolex.png" /></a></p>
    <p class="silver-sponsors"></p>
    <!--div class="row">
      {% for s in site.silver %}
        <div class="col-md-2 col-sm-6 vcenter silver-sponsors"><a href="{{s.url}}"><img src="{{ site.url }}/img/sponsor/{{ s.image }}" alt="{{ s.name }}"></a></div>
      {% endfor %}
    </div-->
  </div>

  <div class="container">
    <div class="whoweare">
      <h3>主催</h3>
      <p style="text-align: center;">NASA Space Apps Challenge KUSHIMOTO 実行委員会</p>
      <h3>共催</h3>
      <p style="text-align: center;">和歌山県宇宙教育研究会</p>
      <h3>協賛</h3>
      <div style="text-align: center;">
        <p>
        一般財団法人雑賀技術研究所、</br>
        常石由良ドック株式会社、</br>
        株式会社ビジュアル・テクノロジー研究所、</br>
        株式会社組込AI研究所、</br>
        株式会社KEGキャリアアカデミー、</br>
        大洋テクノレックス株式会社、</br>
        </p>
      </div>
      <h3>後援</h3>
      <div style="text-align: center;">
        <p>
        和歌山県、串本町、</br>
        和歌山放送、テレビ和歌山、紀伊民報、熊野新聞、</br>
        スペースワン株式会社
      </p>
      </div>
      <h3>事務局</h3>
      <!--
      <p style="text-align: center;">一般財団法人雑賀技術研究所 公益事業推進室</p>
      -->
    </div>

    <div class="row" style="margin-top: 3em;">
      <div class="col-md-12">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/">ホーム</a></li>
            <li><a href="{{ site.baseurl }}/posts">お知らせ</a></li>
            <li><a href="{{ site.baseurl }}/schedule">開催概要</a></li>
            <li><a href="{{ site.baseurl }}/access">アクセス</a></li>
            <!-- <li><a href="{{ site.baseurl }}/sponsor">スポンサー</a></li> -->
            <li><a href="{{ site.baseurl }}/code-of-conduct">行動規範</a></li>
           <!-- <li><a href="{{ site.baseurl }}/contact">お問い合わせ</a></li> -->
          </ul>
        </div>
        <p>Copyright &copy; Space Apps Challenge Kushimoto 実行委員会</p>
      </div>
    </div>
  </div>
</footer>
<script type="text/javascript" src="https://api.geolonia.com/v1/embed?geolonia-api-key=SPACEAPPSKUSHIMOTO"></script>
